.nav-side-menu{
  overflow: auto; 
  font-size: 12px;
  font-weight: 200;
  background-color: #d01752;
  position: fixed;
  top: 93px;
  width: 250px;
  height: 100%;
  color:#ffffff;
 box-shadow: 0px 1px 4px  #8390bc!important;
-moz-box-shadow: 0px 1px 4px  #8390bc!important;
-webkit-box-shadow: 0px 1px 4px #8390bc!important;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #6a6a6a!important;
  background-color:#e11959!important ;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  background-color: #e11959!important;
  color: #ffffff;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
 background-color: #e11959!important;
 color: #ffffff;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color:#e72764;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #e8e8e8;
  margin-left: 15px;
}
.nav-side-menu ul .sub-menu li:hover,.nav-side-menu ul .sub-menu li:active,
.nav-side-menu li .sub-menu li:hover {
 background-color: #e11959!important;
 color: #ffffff;

}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 5px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left:none;
  border-bottom: 1px solid #fff;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  font-size: 15px;
  padding-left: 5px;


}


.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  margin-right: 10px;
}
.nav-side-menu li:hover,.nav-side-menu li:active {
  border-left: 3px solid #ffffff;
  background-color: #e11959;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}

body {
  margin: 0px;
  padding: 0px;
   -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.navbar .navbar-fixed-top{

 
  background-image: url("../images/bweza2.jpg");
  /*background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}



.bwizard-steps {
  display: inline-block;
  margin: 0; 
  padding: 0;
  background: #fff; 
  font-size: 14px!important;
  font-weight: 600px;

}

.bwizard-steps .active {
  color: #c13e68;
  text-decoration: bold;
  text-transform: uppercase;
 
}

.bwizard-steps .active:after {
  border-left-color: #c13e68; 
}
  
.bwizard-steps .active a {
  color: #fff;
  cursor: default;
}
  
.bwizard-steps .label {
  position: relative;
  top: -1px;
  margin: 0 5px 0 0; 
  padding: 1px 5px 2px; 
  color: #bebdbd;
}
  
.bwizard-steps .active .label {
  background-color: #333;
}
  
.bwizard-steps li {
  display: inline-block; 
  position: relative;
  margin-right: 5px;
  padding: 12px 17px 10px 30px;
  *display: inline;
  *padding-left: 17px;
  background: #efefef;
  line-height: 18px;
  list-style: none;
  zoom: 1; 
  border:1px solid white;
  border-left:none;
}


  
.bwizard-steps li:first-child {
  padding-left: 12px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; 
}
  
.bwizard-steps li:first-child:before {
  border: none;
}
  
.bwizard-steps li:last-child {
  margin-right: 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; 
}
  
.bwizard-steps li:last-child:after {
  border: none;
}
  
.bwizard-steps li:before {
  position: absolute;
  left: 0; top: 0;
  height: 0; width: 0;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #fff;
  border-top: 20px inset transparent;
  content: "";
}
  
.bwizard-steps li:after {
  position: absolute;
  right: -20px; top: 0;
  height: 0; width: 0;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #efefef;
  border-top: 20px inset transparent;
  content: "";
  z-index: 2; 
}
  
.bwizard-steps a {
  color: #ccc; 

}
  
.bwizard-steps a:hover {
  text-decoration: none;
}

.bwizard-steps.clickable li:not(.active) {
  cursor: pointer;
}

.bwizard-steps.clickable li:hover:not(.active) {
  background: #ccc;
}

.bwizard-steps.clickable li:hover:not(.active):after {
  border-left-color: #ccc; 
}

.bwizard-steps.clickable li:hover:not(.active) a {
  color: #08c; 
}

@media (max-width: 480px) { 
  /* badges only on small screens */
  .bwizard-steps li:after,
  .bwizard-steps li:before {
    border: none; 
  }
  
  .bwizard-steps li,
  .bwizard-steps li.active,
  .bwizard-steps li:first-child,
  .bwizard-steps li:last-child {
    margin-right: 0;
    padding: 0;
    background-color: transparent; 
  }
}

select :disabled {
	color:#efefef;
}

.hide{
	display:none;
}